<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sentiment Analysis</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <body>
     <!--    <div class="search-form">
                      <input type="search" id='search' placeholder="Search for things like Member Profile, Provider Claim, Document Service etc." class="form-control">
                      <button class="btn search-btn"><i class="fa fa-search"></i></button>
                    </div> -->
        <form class="search-form" action="search-result/" method="post">
                        {% csrf_token %}

                        <input type="text" placeholder="Search for things like Member Profile, Provider Claim, Document Service etc." name='data' class="form-control" id='txtInput' value="">
                        <button type="submit" class="btn search-btn submit"><i class="fa fa-search"></i></button>
                      </form>
                      <div class='result-data'>
                    {% for d in data %}
                        <div class="row member-box">
                          <div class="col-md-9 col-sm-8 col-xs-12">
                            {% if d.meta.id %}
                                <h1 class="cyan heading">{{d.title}}</h1>
                            
                            {% endif %}
                            {%if d.id %}
                     
                                <h1 class="cyan heading">{{d.title}}</h1>
                            {% endif %}
                            </a>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                    {% endfor %}  
                    </div> 
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10 col-sm-12">
            <h2 id="stories" class="text-center">Top 10 stories</h2>
          </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
            $.ajax({
            url: "/sentiment-analysis/",
            type: "GET",
            success: function (data, status, xhr) {  
                if (status == 'success') {
                  $.each(data, function (index, value) {
                    $("#stories").append(
                        "<div class='card'>\
                        <div class='card-header'>\
                        </div>\
                        <div class='card-block'>\
                            <div class='row'>\
                                <div class='col-lg-6 tags p-b-2'>\
                                <h5>"+value.title+"</h5>\
                                </div>\
                                <div class='col-lg-4 offset-lg-1'>\
                                    <div class='row card card-outline-success m-x-auto m-b-2'>\
                                        <div class='text-xs-center bg-success p-y-1'>\
                                            <h4>"+value.sentiment+"</h4>\
                                        </div>\
                                    </div>\
                                </div>\
                            </div>\
                        </div>\
                    </div>\
                        ");
                    })
                  }
                }
              });
            });


    $('.search-btn').click(function(){
      if ($('#search').val() != ''){
            $.ajax({
              type: "GET",
              url:"searching/",
              data:{'val':$('#search').val()},
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              success: function(result) {
                  if (result.status='success'){
                    $('.result-data').text('')
                    $('.pagination-data').text('')
                    $.each(result.data, function (index, value) {
                      $(".result-data").append('<div class="row member-box">\
                        <div class="col-md-9 col-sm-8 col-xs-12">\
                        <a href="/service-data/'+value.id+'"/">\
                        <h1 class="cyan heading">'+value.title+'</h1>\
                        </a>\
                        <h3>'+value.description+'</h3>\
                        <p>Tags<span class="cyan"> business</span></p></div>\
                        <div class="col-md-3 col-sm-4 col-xs-12">\
                        <div class="inner-box">\
                        <span class="cyan">Dataset</span><br>\
                        <h4>Updated</h4>\
                        <h4 class="cyan">February 15,2018</h4><br>\
                        <h4>views</h4><h4 class="cyan">84,403</h4>\
                        </div></div>\
                        <div class="clearfix"></div>\
                        </div>');
                    })
                  }
                      
              },
              error: function(){},
          });
      }
      
      });
        </script>
    </body>
</html>